<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AudioSync
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Audio1
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="{{audio.photoURL}}">
      </ion-avatar>
      <ion-label>
        <h2>{{audio.name}}</h2>
        <h2>{{audio.text}}</h2>
        <h3>{{audio.playing}}</h3>
        <audio controls id="audio" src="{{audio.path}}"></audio>
      </ion-label>
      <ion-button (click)="play()">
        Play
      </ion-button>
      <ion-button color="warning" (click)="pause()">
        pause
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>